
/* ------------------- anime ----------------- */

#anim{
    padding-top: 20px;
}
#anime{
    background-color: rgba(0, 0, 0, 0.384)!important;
    backdrop-filter: blur(10px);
    max-width:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border-bottom: #31dd56 3px solid;
}
#anime{
    font-size: 40px !important;
}
#headerszoveg p{
    margin-top: 5px;
}
body{
  cursor:url(../cursor.png), auto;
}

#animetartalom{
    height: 90vh;
    width: 100%;
}
#animetartalom .row{
    padding-top: 30px;
    padding-bottom: 30px;
}
#animetartalom .col-md{
    margin-bottom: 40px !important;
}
#animetartalom{
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.897),black) !important;
    z-index: -1;
}
#animetartalom p{
    color:rgba(255, 255, 255, 0.747);
    margin-top: 5px;
    font-size: 20px;
    font-weight: 550;
}
#animetartalom a{
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.747) !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#animetartalom a:hover{
    color: rgba(207, 207, 207, 0.747) !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#animetartalom img{
    border: 4px #31dd56 solid;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    box-shadow: 0px 0px 20px black;
}
#animetartalom img:hover{
    scale:1.050;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

@media only screen and (max-width: 768px) {
    #headerszoveg{
        margin-top: -50px !important;
    }}



    #animeheaderszoveg p{
        font-size: 28px;
        text-shadow: 2px 2px 2px black;
        color:white;
        font-weight: 600;
    }
    #leiras{
        border-left: 5px #31dd56 solid;
        width: fit-content;
        padding-bottom: 5px;
        padding-right: 120px;
        text-align: left;
        justify-self: center;
        padding-left:10px;
        font-size: 30px;
        font-weight: 700;

        background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
    }
    #szoveg{
        text-align: left !important;
        margin-top: 20px;
    }
    #animetartalom img{
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
#hatter{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
#infok span{
    font-size: 22px;
    color:#31dd56;
    font-weight: 700;
}
#infok p{
    line-height: 15px;
}
#infok{
    text-align: left !important;
    margin-top: 20px;

}
#aktiv{
    color:#b7b7b7 !important;
    font-weight: 640 !important;
}
#gomb button{

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-weight: 700;
    padding:8px;
    font-size: 1.400rem !important;
    transition:0.8s;
    -webkit-transition:0.8s;
    -moz-transition:0.8s;
    -ms-transition:0.8s;
    -o-transition:0.8s;
    border:none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.69);
    background: #000000 !important;
    color:#ffffff;
    border: 2px #31dd56 solid;
    padding:7px;
    
}
#gomb button:hover{
    background:linear-gradient(to right, #31dd56, #007c1b) !important;
    color:rgb(0, 0, 0);
    border: none;
    padding:9px;
}

#vissza a{
    color:#000000;
    font-weight: 500;
    position:fixed;
    left:20px;
    
    bottom:10px;
    font-size: 35px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    backdrop-filter: blur(20px);
    background:linear-gradient(to right, #31dd56, #007018) ;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.779);
}
#vissza a:hover{
    text-decoration: none;
    background: black ;
    color:white;
    font-size: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border: 2px #31dd56 solid;
}
@media only screen and (max-width: 1200px) {
    #infok{
        border-right: 0px #31dd56 dashed;
    }
    #infok{
        text-align: center !important;
    }
    #szoveg{
        text-align: center !important;
    }
    #leiras{
        padding-right: 0px !important;
        padding-left: 0px;
     
        margin:0 auto;
        border-right: #31dd56 5px solid;
        width: 100%;
        margin-bottom: 20px !important;
        padding-left: 0px;
        text-align: center;
        background: rgba(0, 0, 0, 0.473);
    }
  #anime{
    margin-top: 40px;
  }
    #szoveg h1{
        margin:0 auto;
       
        border-right: #31dd56 5px solid;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.473);
    }
}
#gombok{
    padding-bottom:40px !important;
}
#animetartalom hr{
    max-width: 60%;
    margin:0 auto;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    background:linear-gradient(to right,  #31dd56 ,#007c1b,#31dd56 ,#007c1b,#31dd56 ) !important;
    margin-bottom: 40px !important;
}
/* ---------------------------------------------- */
