*{
    padding:0;
    margin:0;
}
html{
    max-width: 100%!important;
}
.container-fluid{
    background-color: #030202;
    width: 100%!important;
}
body{
  cursor:url(../cursor.png), auto;
}
.col{
    margin: 0!important;

}
#headertartalom{
    display:flex;
    align-content: center;
    height: 90%;
}
#headerszoveg p{
    text-shadow: 2px 2px 2px black;
    color:white;
    font-size: 25px;
    font-weight: 600;

}
#udv{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.69);
    text-shadow: 2px 2px 2px black;
    margin:0 auto;
    backdrop-filter: blur(10px);
    background-color: #00000039;
    max-width: 450px;
    border-left:#31dd56 4px solid;
    
    margin-bottom:10px;
}
.carousel {
    border-radius: 10px;
    margin:0 auto;
    position: relative;
    width: 80%;
    height: 270px;
    overflow: hidden;
    background-color: #31dd56;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.69);
}
    .carousel-item {
      position: absolute;
      width: 80%;
      height: 270px;
      border: 1px solid #2e2e2e;
      top: 0;
      left: 100%;}
body{
    background: #030202;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
}
#egesz{
    background-image: url('https://cdn.wallpapersafari.com/80/81/5Coc4H.jpg') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
button{
    cursor:url(../pointer.png), pointer !important;
}
button:not(:disabled) {
    cursor:url(../pointer.png), pointer !important;
}
a{
    cursor:url(../pointer.png), pointer !important;
}
a:hover{
    cursor:url(../pointer.png), pointer !important;
}
@media only screen and (min-width: 800px) {
    #box{
    min-width: 25%;
}
}

input:focus{
    transition:0.6s;
    outline: 2px #31dd56 solid;
}

#nincsfelh{
    margin-bottom: 10px;
}
#nincsfelh a {
    color:#31dd56;
    font-weight: 550;
  
}
#box{
    transition:0.6s;
    backdrop-filter: blur(20px);
    background-color: #030202dc;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 70px;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 150px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px #31dd56 solid;
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    -ms-transition:0.6s;
    -o-transition:0.6s;
    box-shadow: 0px 0px 20px black;
}
#vissza a{
    color:#000000;
    font-weight: 500;
    position:absolute;
    left:20px;
    top:20px;
    font-size: 35px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    backdrop-filter: blur(20px);
    background:linear-gradient(to right, #31dd56, #007018) ;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.779);
}
#vissza a:hover{
    text-decoration: none;
    background: black ;
    color:white;
    font-size: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
@media only screen and (max-width: 800px) {
    #box{
        padding-top: 150px;
    min-width: 100%;
    margin-top: 0px;
    min-height: 100vh;
    background-color: #030202c6;
    backdrop-filter: blur(5px);
    border:none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
}
.row{
    margin:0!important;
    text-align: center;
    
}
h3{
    color:white!important;
    text-align: left;
    font-size: 20px;
    border-left: #31dd56 3.5px solid;
    padding-left: 5px;
}
form{
    padding-top: 20px;
}
form input{
    backdrop-filter: blur(20px);
    background-color: rgba(56, 46, 40, 0.576);
    border:none;
    color:white;
    padding:5px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
form .row{
    margin: 10px!important;;
}

b{
    font-size: 35px;
}
h1{
    color: #ffffff!important;
}
.navbar-brand{
    font-size: 30px!important;
}


#zold{
    color:#31dd56;
}
#betolto {
    position: absolute;
    left: 47%;
    top: 44%;


    transition:0.6s;
    z-index: 1;
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #31dd56;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    -ms-transition:0.6s;
    -o-transition:0.6s;
}
@media only screen and (max-width: 800px) {
    #betolto {
        position: absolute;
        left: 45%;
    }
}
@media only screen and (max-width: 500px) {
    #betolto {
        position: absolute;
        left: 43%;
    }
}
@media only screen and (max-width: 440px) {
    #betolto {
        position: absolute;
        left: 40%;
    }
}
@media only screen and (max-width: 300px) {
    #betolto {
        position: absolute;
        left: 37%;
    }
}
  
  

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
 
  body{
    overflow: hidden;
  }
  #egesz {
    opacity:0;
    text-align: center;
}
  #betolto {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}
#egesz.aktiv {
    opacity:1;

    text-align: center;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}
  #betolto.hide {
    opacity: 0;
    z-index: -1;
  }
  
 

  /* width */
::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #120C0C;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #382525;
  }
.navbar-brand{
    padding-left: 20px;
    text-shadow: -2px -1px 0.3px rgba(0, 0, 0, 0.69);
    padding-top:0px;
}
.fekahatter{
    background-color: #030202!important;
}

.nem:hover{
    border-bottom: #31dd56 solid 0px;
    padding:0px;
}

@media only screen and (min-width: 1000px) {
    .btn{
        margin-right:20px;
        font-weight: 550;
    }
    #formazas{
  
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0.585),rgba(0, 0, 0, 0.585),rgba(0, 0, 0, 0.585),rgba(0, 0, 0, 0.585), black)!important;
    
    }
    .navbar-brand{
        color:white;
    }
    #feher{
        color:white;
    }

}
#hibauzi{
    color:#b20000 !important;
}
.placeholder::-webkit-input-placeholder {
    color: #b20000;
 }
 ::selection {
    background-color: #31dd56c9;
    color: black;
  }
.navbar-toggler{
    border: none !important;
      background:linear-gradient(to right, #31dd56, #007018) ;
      color:rgb(0, 0, 0)!important;
      padding:8px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      position:absolute;
      right: 40px;
      font-weight: 700;
      font-size: 17px;
      transition: 0.6S;
      -webkit-transition: 0.6S;
      -moz-transition: 0.6S;
      -ms-transition: 0.6S;
      -o-transition: 0.6S;
}
.navbar-toggler:hover{
    background: black!important;
    color:white !important;
    padding:7px;
  
}

.btn{
    background-color: rgba(0, 0, 0, 0.197)!important;
    backdrop-filter: blur(20px);
    font-weight: 550px;
}
#feher{
    color:white;
}

   

@media only screen and (max-width: 768px) {
    #headerszoveg{
        margin-top: 100px;
    }
    header{
        height: 110vh;
    }
}

@media only screen and (max-width: 523px) {
    header{
        background-image: url('https://images2.alphacoders.com/983/983353.png') ;
        width: 100%!important;
        background-position: -400px;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(10px)!important;
        z-index:50;
        }
    }
