*{
    padding:0;
    margin:0;
}
html{
    max-width: 100%!important;
}
.container-fluid{
    background-color: #030202;
    width: 100%!important;
}

.row{
    margin: 0!important;

}
.col{
    margin: 0!important;

}
#headertartalom{
    display:flex;
    align-content: center;
    height: 90%;
}
#headerszoveg p{

    color:white;
    font-size: 25px;
    font-weight: 600;

}
#udv{
    margin:0 auto;
    backdrop-filter: blur(10px);
    background-color: #00000039;
    max-width: 450px;
    border-bottom:#EABE7C 4px solid;
    margin-bottom:10px;
}
.carousel {
    position: relative;
    width: 80%;
    height: 270px;
    overflow: hidden;
    background-color: #EABE7C;}
    .carousel-item {
      position: absolute;
      width: 100%;
      height: 270px;
      border: 1px solid #2e2e2e;
      top: 0;
      left: 100%;}
      
body{
    background: #030202;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
}
header{
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp6832137.jpg') ;
    width: 100%!important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px)!important;
    z-index:50;
}

h1{
    color: #ffffff!important;
}
#formazas{
  
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(217, 217, 217, 0),rgba(217, 217, 217, 0),rgba(217, 217, 217, 0),rgba(217, 217, 217, 0), black)!important;

}
.navbar-brand{
    font-size: 30px!important;
}


#zold{
    color:#EABE7C;
}
#loader {
    position: absolute;
    left: 47%;
    top: 44%;


    transition:0.6s;
    z-index: 1;
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #EABE7C;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    -ms-transition:0.6s;
    -o-transition:0.6s;
}
@media only screen and (max-width: 800px) {
    #loader {
        position: absolute;
        left: 45%;
    }
}
@media only screen and (max-width: 500px) {
    #loader {
        position: absolute;
        left: 43%;
    }
}
@media only screen and (max-width: 440px) {
    #loader {
        position: absolute;
        left: 40%;
    }
}
@media only screen and (max-width: 300px) {
    #loader {
        position: absolute;
        left: 37%;
    }
}
  
  

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
 
  body{
    overflow: hidden;
  }
  #egesz {
    opacity:0;
    text-align: center;
}
  #loader {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}
#egesz.aktiv {
    opacity:1;

    text-align: center;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}
  #loader.hide {
    opacity: 0;
  }
  
 

  /* width */
::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #120C0C;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #382525;
  }
.navbar-brand{
    padding-left: 20px;
    text-shadow: -2px -1px 0.3px rgba(0, 0, 0, 0.69);
    padding-top:0px;
}
.fekahatter{
    background-color: #030202!important;
}
.nav-link{
    font-size: 20px!important;
    font-weight: 550;
  ;
}
.btn{
    background: rgba(0, 0, 0, 0.555)!important;
    padding:7px!important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.563);
    backdrop-filter: blur(10px);
}
.btn:active{
    border:none;
}
.btn:focus{
    border:3px #EABE7C solid;
    padding:6px!important;
}
@media only screen and (min-width: 1000px) {
    .btn{
        margin-right:20px;
        font-weight: 550;
    }
    .navbar-brand{
        color:white;
    }
    #feher{
        color:white;
    }
    .nav-link{
        transition: 0.2s all;
        color:rgba(255, 255, 255, 0.784)!important;
        -webkit-transition: 0.2s all;
        -moz-transition: 0.2s all;
        -ms-transition: 0.2s all;
        -o-transition: 0.2s all;
}
    .nav-link:hover{
        border-bottom: #EABE7C solid 3px;
        padding:5px;
    }
    .btn:hover{
        border:2.5px #EABE7C solid;
        padding:6px!important;
    }
}
.btn{
    border: 2px #EABE7C solid;
}
.navbar-toggler{
    background: #EABE7C;
}
#tartalom h1{
    border-left: 5px #EABE7C solid;
    width: 140px;
    padding-left: 10px;
    margin:0 auto;
}
@media only screen and (max-width: 1000px) {
    .navbar{
        z-index: 1;

        transition:0.6s all!important           ;
        -webkit-transition:0.6s all!important           ;
        -moz-transition:0.6s all!important           ;
        -ms-transition:0.6s all!important           ;
        -o-transition:0.6s all!important           ;
        position: fixed;
        width: 100%;
        backdrop-filter: blur(20px);
}
.btn{
    background-color: rgba(0, 0, 0, 0.197)!important;
    backdrop-filter: blur(20px);
    font-weight: 550px;
}
#feher{
    color:white;
}
    .navbar-brand b{
        color:#EABE7C;
        
    }
    .navbar-light .navbar-nav .nav-link{
        color:white!important;
    }
}